$block-spacing: 65px;

a {
  cursor: pointer;
}

h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  min-height: 28px;
}

hr.thick {
  border-top-width: 3px;
}

ul.list-unstyled.list-primary-bullet {
  padding-left: 10px;

  li {
    margin: 20px 0;

    &::before {
      content: '• ';
      color: $brand-primary;
      margin-right: 5px;
    }
  }
}

#topnav {
  font-size: 12px;
  padding-top: 10px;

  small {
    font-size: 10px;
  }

  .navbar-brand {
    font-size: 12px;
    line-height: 1.1;
  }

  .icon-bar {
    background-color: #000;
  }

  .navigation {
    a {
      color: #555;
    }

    li {
      a {
        border-bottom: 3px solid transparent;
        padding-bottom: 2px;
      }

      &.active {
        a {
          border-bottom-color: #000;
          color: $brand-primary;
          font-weight: bold;
        }
      }
    }
  }

  .horizontal-nav {
    padding: 15px;

    li {
      float: left;
      margin-left: 10px;

      & + li {
        &:before {
          content: '|';
          color: #ccc;
          margin-right: 10px;
        }
      }
    }
  }

  .vertical-nav {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;

    li {
      border-bottom: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $screen-md-min) {
    padding-top: 20px;
  }
}

.detail-with-image {
  p { margin-bottom: 15px; }

  h2 {
    margin-top: 0;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    min-height: 16px;
  }

  ul {
    margin-bottom: 35px;
  }

  hr {
    margin-top: 8px;
  }

  .btn-primary {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-sm-min) {
    max-width: 455px;
    padding: 50px 25px;
  }

  @media (min-width: $screen-md-min) {
    padding-left: 65px;
  }

  &.no-vertical-padding {
    padding-bottom: 0;
    padding-top: 0;
  }

  &.big-vertial-padding {
    @media(min-width: $screen-sm-min) {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    @media(min-width: $screen-md-min) {
      padding-bottom: 80px;
      padding-top: 80px;
    }
  }

  &.huge-vertial-padding {
    @media(min-width: $screen-sm-min) {
      padding-bottom: 80px;
      padding-top: 80px;
    }

    @media(min-width: $screen-md-min) {
      padding-bottom: 120px;
      padding-top: 120px;
    }
  }
}

.heading-block {
  margin-bottom: $block-spacing;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;

  &.small-bottom-padding {
    margin-bottom: $block-spacing - 25px;
  }

  &.wide {
    max-width: 768px;
  }
}

.hero-image {
  margin-bottom: 25px;

  img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.block-with-spacing-bottom {
  margin-bottom: $block-spacing;
}

#services-navigation {
  a {
    &, &:hover, &:focus, &:active, &:visited {
      color: inherit;
    }
  }

  img {
    @media (max-width: 540px) {
      margin-top: 12px;
    }
  }
}

.image-fit-width {
  img {
    width: 100%;
  }
}

.btn-wide {
  padding-left: 30px;
  padding-right: 30px;
}

footer {
  background-color: #222;
  color: #555;
  font-size: 10px;
  padding: 40px 0;

  a {
    color: inherit;
  }

  .footer-nav {
    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
    }
  }
}

#logo {
  padding-top: 5px;

  img {
    display: inline;
    margin-right: 8px;
  }
}

#footer-logo {
  height: 52px;
  margin-top: 18px;
  opacity: 0.2;

  @media (max-width: $screen-sm-max) {
    margin-left: -8px;
  }
}

a.silent-link {
  &, &:hover, &:focus, &:active, &:visited {
    color: inherit;
    text-decoration: none;
  }
}

.lang-switcher {
  margin-left: 20px;
  padding: 15px 0;

  @media(max-width: $screen-sm-max) {
    margin-left: 0;
    padding: 16px 0;
  }

  .dropdown-menu {
    border: 1px solid #eee;
    margin-top: 10px;

    img {
      margin-right: 10px;
    }

    li a {
      padding: 3px 10px;
    }
  }
}

@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
