$home-block-spacing: 65px;

#home-carousel {
  margin-bottom: $home-block-spacing - 20px;
  max-height: 540px;
  overflow: hidden;

  .item {
    img {
      height: auto;
      width: 100%;
    }

    .carousel-image-mask {
      background-color: #fff;
      bottom: 0;
      left: 0;
      opacity: 0.88;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1000;
    }
  }

  .caption {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 200px;
    z-index: 1010;

    h2 {
      font-size: 36px;
      font-weight: 300;
      margin-bottom: 30px;
    }

    .btn-primary {
      padding: 8px 30px;
    }

    @media (max-width: $screen-md-max) {
      top: 35%;
    }

    @media (max-width: $screen-sm-max) {
      top: 30%;

      h2 { font-size: 30px; }
    }

    @media (max-width: $screen-xs-max) {
      left: 15%;
      right: 15%;
      top: 30%;

      h2 {
        font-size: 24px;
        margin-bottom: 15px;
      }

      .btn-primary {
        font-size: 12px;
        padding: 6px 20px;
      }
    }

    @media (max-width: $screen-xs-min) {
      left: 5%;
      right: 5%;
      top: 10%;

      h2 {
        font-size: 18px;
        margin-bottom: 15px;
      }

      .btn-primary {
        font-size: 12px;
        padding: 6px 20px;
      }
    }
  }
}

#home-services {
  margin-bottom: $home-block-spacing;

  .home-services-heading-block {
    margin-bottom: $home-block-spacing;
    margin-left: auto;
    margin-right: auto;
    max-width: 590px;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    min-height: 28px;
  }

  .service-detail {
    @media (max-width: $screen-sm-max) {
      min-height: 110px;
    }

    @media (max-width: $screen-xs-max) {
      min-height: auto;
      margin-bottom: 25px;
    }
  }
}

#home-use-service {
  margin-bottom: $home-block-spacing - 35px;

  .detail-with-image.left {
    h5 { margin-top: 30px; }
  }
}

#home-testimonials {
  margin-bottom: $home-block-spacing;

  .carousel {
    padding-bottom: 50px;
  }

  hr {
    margin: 8px auto;
    width: 50%;
  }
}

#home-contacts {
  margin-bottom: $home-block-spacing - 35px;

  .detail-with-image.left {
    padding-bottom: 0;
    padding-top: 0;
  }
}
