.quotation-form {
  margin: 0 auto;
  max-width: 560px;

  input[type=text], input[type=tel], input[type=email], input[type=number], textarea {
    &.form-control {
      border: 1px solid #eee;
      box-shadow: none;
      outline: none;
      padding-bottom: 20px;
      padding-top: 20px;
      resize: none;
    }
  }

  label {
    margin-top: 15px;
  }

  .btn-file {
    display: none;
  }

  .form-action {
    margin: 15px 0;

    .btn {
      margin-right: 15px;
    }
  }
}
